/* css styles */

body {
  font-family: Arial;
}
p {
  text-align: left;
  margin-bottom: 0.5rem;
}

.cv-date {
  float: right;
  color: grey80;
}

.h3 {
  color: #2373b0;
}

.h5 {
  color: #b07112;
  font-weight: 500;
}

.cv_img{
  margin-right: 5px;
  width: 60px;
}
.lc_img {
  display: block;
  margin: auto;
  width: 400px;
}