/* css styles */

body {
  font-family: Arial;
}

figcaption{
  font-style: italic;
}

p, .p {
  text-align: left;
  margin-bottom: 0.8rem;
}

.cv-date {
  float: right;
}

h2, .h2{
  font-size: calc(1.1rem + 0.48vw);
  color: #b07112;
}
h3, .h3 {
  color: #2373b0;
  font-size: calc(1.1rem + 0.24vw);
}

h4, .h4 {
  color: #b07112;
  font-weight: 500;
  font-size: 1.0rem;
}

h5, .h5 {
  color: #b07112;
  font-weight: 500;
  font-size: 1.2rem;
}

img{
  border-radius: 5px;
}
.cv_img{
  margin-right: 5px;
  width: 60px;
}
.lc_img {
  display: block;
  margin: auto;
  width: 400px;
}

#parent{
    padding: 0;
}
#child-left{
    float: left;
    width: 50%;
}
#child-right{
    float: right;
    width: 50%;
}

figcaption, .panel-caption, .figure-caption, .subfigure-caption, .table-caption, figcaption.quarto-float-caption, caption{
  color:#2373b0 ;
  font-size: .9rem;
  text-align: left;
  font-style: italic;
}

.wc_cap{
  font-style: italic;
  color:#2373b0 ;
  font-size: .9rem;
  text-align: left;
}

.coffeea{
  color: #E41A1C;
  font-weight: 600;
}
.coffeeb{
  color: #377EB8;
  font-weight: 600;
}

.coffeec{
  color: #4DAF4A;
  font-weight: 600;
}

.coffeed{
  color: #984EA3;
  font-weight: 600;
}
.coffeeother{
  color: #808080;
  font-weight: 600;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.example-box {
    border-left: 6px solid;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.Bad {
    background-color: #ffdddd;
    border-color: red;
}

.Good {
    background-color: #fff3cd;
    border-color: orange;
}

.Better {
    background-color: #d4edda;
    border-color: green;
}

.example-box pre {
    background-color: #f8f9fa;
    padding: 8px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: "Courier New", monospace;
}
